.aboutInfo{
    width: 35rem;
    color:rgba(0, 0, 0, 0.76);
    padding-left: 20px;
    font-size: 3.5rem;
    margin-left: auto;
    padding: 112px 0px;
}
.aboutInfo span{
    font-size: 4rem;
}
.aboutInfo button{
    font-size: 1.2rem;
    width: 140px;
    height: 40px;
    border: 2px solid #FECB0F;
    border-radius: 20px;
display: inline;
}

.aboutInfo button:hover{
    background-color:#FECB0F ;
    color: white;
    /* box-shadow: 5px 5px 20px #FECB0F; */
}
.aboutInfo button:active{
    transform: scale(.9);
}
.aboutInfo .table{   
    background-color:#FECB0F ;
    color: white;  
}
.aboutInfo .table:hover{
    background-color: white;
    color: rgba(0, 0, 0, 0.76);
    box-shadow: 0px 0px;
}

.aboutImg{

    width: 35rem;
    margin-right: auto;
}
.aboutImg .shefimg{
    width: 300px;
    height: 100%;
}
.aboutImg .itemlist{
    width: 200px;
    height: 100%;
}



@media(max-width:1130px){
    .aboutInfo{
        width: 30rem;
        font-size: 3rem;
    }
    .aboutInfo span{
        font-size: 3.2rem;
    }
    
    .aboutImg{

        width: 30rem;
    }
}
@media(max-width:960px){
    .aboutInfo{
        width: 25rem;
        font-size: 2.5rem;
    }
    .aboutInfo span{
        font-size: 2.7rem;
    }
    
    .aboutImg{

        width: 25rem;
    }
}
@media(max-width:800px){
    .aboutInfo{
        width: 20rem;
        font-size: 2rem;
    }
    .aboutInfo span{
        font-size: 2.2rem;
    }
    
    .aboutImg{

        width: 20rem;
    }
}
@media(max-width:640px){
    .aboutInfo{
        margin: auto;
        padding: 50px 0px;
    }
    
    
    .aboutImg{

        margin: auto;
    }
}
@media(max-width:360px){
    .aboutInfo{
        width: 15rem;
        font-size: 1.5rem;
    }
    .aboutInfo span{
        font-size: 1.8rem;
    }
    .aboutInfo button{
        font-size: 1rem;
    width: 100px;
    height: 30px;
    border: 2px solid #FECB0F;
    border-radius: 20px;
    }
    .aboutImg{

        width: 15rem;
    }
}


/*--------------- Aboutus Card page -------- */


.about {
   margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
   
}


.about-card {
    position: relative;
    height: 400px;
    width: 300px;
    border: 4px solid rgb(52, 51, 51);
    border-radius: 10%;
    overflow: hidden;
    background-color: #FECB0F;
    transition: transform 0.2s ease-in-out;
}

.about-card:hover {
    transform: scale(1.03);
}

.profile-background-picture {
    height: 30%;
    overflow: hidden;
    border-bottom: 4px solid rgb(52, 51, 51);
}

.profile-background-picture>img {
    object-fit: cover;
    height: 110%;
    width: 140%;
}

.profile-picture {
    border: 4px solid rgb(52, 51, 51);
    top: 12%;
    left: 6%;
    position: absolute;
    height: 30%;
    width: 36%;
    overflow: hidden;
    border-radius: 50%;

}

.profile-picture>img {
    height: 100%;
    object-fit: cover;
}

.profile-details {
    height: 70%;
    padding-top: 10%;
  }





/* all details ( texts ) of aboutus */

.profile-details>p, .profile-details>a>p {
    margin: 0;
    padding: 0;
    padding-left: 10%;
    padding-bottom: 8px;
}

.aboutus-username {
    margin-top: 6;
    padding-left: 48%;
    color: rgb(18, 14, 14);
    left: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.aboutus-name {
    color: rgb(249, 251, 255);
    font-size: 24px;
    text-decoration: underline;
}

.aboutus-email {
    color: #e23333;
}

.aboutus-git {
    color: rgb(64, 7, 235);
    font-size: 18px;
}

.aboutus-bio-text {
    color: white;
}

.aboutus-bio {
    color: #110f10;
}


.about-developer-text {
    color: #090802;
    text-decoration: underline;
    margin-left: 80px;
    margin-top: 50px;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

